.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.bg {
    //background: url("./../../../public/bg/auth.jpg") no-repeat;
    height: 100vh;
    position: relative;
}

.image {
    object-fit: contain;
}
