.container {
  display: grid;
  grid-template-columns: 64px 1100px 60px;
  grid-template-rows: 130px 1fr;
  margin: 0 auto;
  max-width: 1354px;
  row-gap: 48px;
  column-gap: 64px;

  .header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .content {
    display: grid;
    grid-template-columns: 80px 1100px 60px;
    grid-template-rows: auto 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    column-gap: 64px;

    max-width: 1354px;
    width: 100%;

    .controls {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .calendarHeader {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .calendar {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .navigation {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}
