.CoverForm {
  display: flex;
  gap: 55px;

  .coverArea {
    width: 310px;
    height: 310px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--inactive-color);
    border-radius: 5px;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 235px;

    .controlBlock {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .text {
      display: inline;
      font: var(--font-s);
    }

    span {
      color: var(--primary-blue);
      font-weight: 600;
    }
  }
}

@media (max-width: 1100px) {
  .CoverForm {
    gap: 12px;
  }
}

@media (max-width: 600px) {
  .CoverForm {
    flex-direction: column;
    align-items: center;

    .coverArea {
      max-width: 100%;
      max-height: 100%;
    }

    .controls {
      gap: 10px;
      max-width: 100%;

      .controlBlock {
        gap: 18px;
      }

      .lowText {
        margin-top: -12px;
      }
    }
  }
}
