.primary {
    box-sizing: content-box;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    padding: 18px 0;
    color: white;
    background: var(--primary-blue);
    border-radius: 5px;
    border: 2px solid var(--primary-blue);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 2px solid var(--primary-blue);
        color: var(--primary-blue);
        background: white;
    }
}
