
.up {
  animation: upAnimation 3s forwards;
  animation-fill-mode: both;
}

.down {
  animation: downAnimation 4s forwards;
  animation-fill-mode: both;
}

@keyframes upAnimation {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(-55vh);
  }
}
@keyframes downAnimation {
  0% {
    transform: translateY(-200vh);
  }
  100% {
    transform: translateY(-110vh);
  }
}
