.primary {
    border: 1px solid var(--border-color);
    background: var(--bg-color);
    color: var(--border-color);
    border-radius: 5px;
    padding: 16px 25px;
    font: var(--font-m);
    font-weight: 600;
}
