.form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 36px;

  .header {
    font-size: 40px;
    line-height: 40px;

    &::after {
      color: var(--primary-blue);
      content: '.';
    }
  }

  .policy {
    display: flex;
    gap: 16px;
    margin-top: -12px;
    font-weight: 700;
  }

  label {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    gap: 4px;

    position: relative;
  }

  .link {
    color: var(--primary-blue);
    font-weight: 600;
    text-decoration: none;
  }

  .footer {
    width: fit-content;
    margin: 0 auto;
  }

  .policyText {
    font-weight: 400;
    font: var(--font-m)
  }

  .abs {
    position: absolute;
    bottom: -20px;
  }
}
