.Button {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  height: min-content;
  border-radius: 5px;
}

.primary {
  color: white;
  background: var(--primary-blue);
  border: 2px solid var(--primary-blue);

  &:hover {
    border-color: var(--primary-blue);
    color: var(--primary-blue);
    background: var(--bg-color);
  }
}

.cancel {
  color: white;
  background: var(--primary-red);
  border: 2px solid var(--primary-red);

  &:hover {
    border-color: var(--primary-red);
    color: var(--primary-red);
    background: var(--bg-color);
  }
}

.empty {
  color: white;
  background: transparent;
  border: 2px solid transparent;

  &:hover {
    color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
  }
}

.s {
  font: var(--font-s);
  padding: 10px 0;
  font-weight: 600;
}

.m {
  font: var(--font-m);
  padding: 18px 0;
  font-weight: 600;
}

.icon {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
