.line {
  width: 100%;
  border-bottom: 1px solid #3f57ff4d;
}

.button {
  display: flex;
  gap: 8px;
  width: 100%;
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 8px;
  font-weight: 500;
  transition: all .3s;
}


.red {
  color: var(--primary-red);
  &:hover{
    background: #ffd8d84d;
  }
}
.blue {
  color: var(--primary-blue);
  &:hover{
    background: #d8dcff4d;
  }
}

