.default {
  color: var(--primary-blue);
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.profile {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0);

  border-radius: 100%;
  transition: all 0.2s;

  &:hover {
    border: 2px solid var(--primary-blue);
  }
}
