.friends {
    background-image: url("../../../public/icons/FriendsDefault.svg");
    width: 40px;
    height: 40px;
    transition: all 0.2s;

    &:hover {
        background-image: url("../../../public/icons/FriendsHover.svg");
    }

    &__active {
        background-image: url("../../../public/icons/FriendsHover.svg");
    }
}

.discovery {
    background-image: url("../../../public/icons/DiscoveryDefault.svg");
    width: 53px;
    height: 53px;
    transition: all 0.2s;
    &:hover {
        background-image: url("../../../public/icons/DiscoveryHover.svg");
    }
}

.default {
    color: var(--primary-blue);
    font-weight: 600;
    text-decoration: none;
}

.profile {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0);

    border-radius: 100%;
    transition: all 0.2s;
    &:hover {
        border: 2px solid var(--primary-blue);
    }
}
