.app_dark_theme {
  --primary-blue: #8796ff;
  --bg-color: #191e28;
  --border-color: #e5e5e5;
  --secondary-border: #ebebeb;
  --primary-color: #ffffff;

  --secondary-bg: #434971;
  --primary-red: #ff3f57;
  --inactive-color: #666b92;

  --modal-bg: rgba(51, 51, 51, 0.6);
}
