.app.light {
  --primary-blue: #3f57ff;
  --bg-color: #ffffff;
  --border-color: #a3a3a3;
  --secondary-border: #EBEBEB;
  --primary-color: #000000;

  --secondary-bg: #ffffff;
  --primary-red: #ff3f57;
  --inactive-color: #666B92;

  --modal-bg: rgba(205, 205, 205, 0.60);

}
