@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

:root {
  --font-family-main: "Montserrat", sans-serif;

  --font-size-s: 13px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 8px 5px 21px 0px rgba(0, 0, 0, 0.10), 34px 20px 39px 0px rgba(0, 0, 0, 0.09), 75px 44px 52px 0px rgba(0, 0, 0, 0.05), 134px 79px 62px 0px rgba(0, 0, 0, 0.01), 209px 123px 68px 0px rgba(0, 0, 0, 0.00);
}
